@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --neofolio-shadcnuikit-com-nunito-bold-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-nunito-bold-font-size: 14px;
  --neofolio-shadcnuikit-com-nunito-bold-font-style: normal;
  --neofolio-shadcnuikit-com-nunito-bold-font-weight: 700;
  --neofolio-shadcnuikit-com-nunito-bold-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-nunito-bold-line-height: 20px;
  --neofolio-shadcnuikit-com-nunito-medium-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-nunito-medium-font-size: 16px;
  --neofolio-shadcnuikit-com-nunito-medium-font-style: normal;
  --neofolio-shadcnuikit-com-nunito-medium-font-weight: 500;
  --neofolio-shadcnuikit-com-nunito-medium-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-nunito-medium-line-height: 16px;
  --neofolio-shadcnuikit-com-nunito-medium-underline-font-family: "Nunito",
    Helvetica;
  --neofolio-shadcnuikit-com-nunito-medium-underline-font-size: 14px;
  --neofolio-shadcnuikit-com-nunito-medium-underline-font-style: normal;
  --neofolio-shadcnuikit-com-nunito-medium-underline-font-weight: 500;
  --neofolio-shadcnuikit-com-nunito-medium-underline-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-nunito-medium-underline-line-height: 20px;
  --neofolio-shadcnuikit-com-nunito-regular-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-nunito-regular-font-size: 16px;
  --neofolio-shadcnuikit-com-nunito-regular-font-style: normal;
  --neofolio-shadcnuikit-com-nunito-regular-font-weight: 400;
  --neofolio-shadcnuikit-com-nunito-regular-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-nunito-regular-line-height: 24px;
  --neofolio-shadcnuikit-com-semantic-heading-1-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-semantic-heading-1-font-size: 20px;
  --neofolio-shadcnuikit-com-semantic-heading-1-font-style: normal;
  --neofolio-shadcnuikit-com-semantic-heading-1-font-weight: 600;
  --neofolio-shadcnuikit-com-semantic-heading-1-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-semantic-heading-1-line-height: 28px;
  --neofolio-shadcnuikit-com-semantic-heading-2-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-semantic-heading-2-font-size: 24px;
  --neofolio-shadcnuikit-com-semantic-heading-2-font-style: normal;
  --neofolio-shadcnuikit-com-semantic-heading-2-font-weight: 600;
  --neofolio-shadcnuikit-com-semantic-heading-2-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-semantic-heading-2-line-height: 32px;
  --neofolio-shadcnuikit-com-semantic-heading-4-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-semantic-heading-4-font-size: 24px;
  --neofolio-shadcnuikit-com-semantic-heading-4-font-style: normal;
  --neofolio-shadcnuikit-com-semantic-heading-4-font-weight: 500;
  --neofolio-shadcnuikit-com-semantic-heading-4-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-semantic-heading-4-line-height: 32px;
  --neofolio-shadcnuikit-com-semantic-heading-5-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-semantic-heading-5-font-size: 16px;
  --neofolio-shadcnuikit-com-semantic-heading-5-font-style: normal;
  --neofolio-shadcnuikit-com-semantic-heading-5-font-weight: 700;
  --neofolio-shadcnuikit-com-semantic-heading-5-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-semantic-heading-5-line-height: 24px;
  --neofolio-shadcnuikit-com-semantic-link-font-family: "Nunito", Helvetica;
  --neofolio-shadcnuikit-com-semantic-link-font-size: 14px;
  --neofolio-shadcnuikit-com-semantic-link-font-style: normal;
  --neofolio-shadcnuikit-com-semantic-link-font-weight: 400;
  --neofolio-shadcnuikit-com-semantic-link-letter-spacing: 0px;
  --neofolio-shadcnuikit-com-semantic-link-line-height: 20px;
  --neofolioshadcnuikitcomalabaster: rgba(250, 250, 250, 1);
  --neofolioshadcnuikitcomblack: rgba(0, 0, 0, 1);
  --neofolioshadcnuikitcomcod-gray: rgba(23, 23, 23, 1);
  --neofolioshadcnuikitcomdove-gray: rgba(115, 115, 115, 1);
  --neofolioshadcnuikitcommercury: rgba(229, 229, 229, 1);
  --neofolioshadcnuikitcomteak: rgba(173, 156, 95, 1);
  --neofolioshadcnuikitcomteak-15: rgba(173, 156, 95, 0.15);
  --neofolioshadcnuikitcomteak-30: rgba(173, 156, 95, 0.3);
  --neofolioshadcnuikitcomteak-90: rgba(173, 156, 95, 0.9);
  --neofolioshadcnuikitcomwhite: rgba(255, 255, 255, 1);
  --neofolioshadcnuikitcomwild-sand: rgba(245, 245, 245, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 100%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;

    --border: 0 0% 13%;
    --input: 0 0% 13%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --ring: 0 0% 13%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}